<div class="row text-center top_25" *ngIf="loading">
  <div class="col">
    <i class="fas fa-spinner rotating animated fadeIn font-info fa-5x" ></i>
  </div>
</div>
<div *ngIf="musica.length==0 && !loading" class="row text-center top_10">
  <div class="col">
    <i class="far fa-frown-open animated fadeIn font-info fa-4x" >
      Oh! There are no records
    </i>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-3"  *ngFor="let album of musica">
      <div class="card space_bottom animated fadeIn">
          <img class="card-img-top img-fluid" [src]="album['im:image'][2].label" alt="">
          <div class="card-body">
            <h5 class="card-title bottom-zero" [title]="album['im:name'].label">{{album['im:name'].label | trim_names:0:17 }} </h5>
            <p class="card-text" [title]="album['im:artist'].label">{{album['im:artist'].label | trim_names:0:20}}</p>
            <p class="card-text"><small class="text-muted">{{album['im:releaseDate'].attributes.label}}</small></p>
            <span class="badge badge-primary">Price: {{album['im:price'].attributes.amount | currency}}</span>
          </div>
      </div>
    </div>


  </div>
</div>
